 * {
     font-family: sans-serif;
     font-size: 15px;
 }

 #main-window, #add-dialog {
     background: #333;
 }

 #dialog-inner-wrapper {
    color: #fff;
 }

 #main-window button:hover {
     color: #000;
 }

 #top-bar button,
 #dialog-ok-button {
   background: transparent;
   color: #fff;
   border: none;
   padding: 10px 20px;
   transition: background-color 0.3s ease;
 }

 #message-text-btn-box button {
  background: transparent;
  color: #fff;
  padding: 8px;
  margin: 5px;
  border: none;
 }

 #message-text-btn-box button:hover {
  background: #333;
  color: #fff;
 }
 
 #top-bar button:hover,
 #dialog-ok-button:hover,
 #dialog-ok-button:not(:disabled):hover {
   background: #444;
   color: #fff;
 }
 
 #top-bar button:active,
 #message-text-btn-box button:active,
 #dialog-ok-button:active,
 #dialog-ok-button:not(:disabled):active {
   background: #666;
   color: #fff;
 }
 
 #dialog-ok-button:disabled {
   color: #888;
 }

 #server-list-box button {
     background: transparent;
     color: #fff;
     padding: 20px 30px;
     border: none;
     border-radius: 4px;
     font-size: 16px;
     transition: background-color 0.3s ease;
 }

 #server-list-box button:hover {
     background-color: #444;
     color: #fff;
 }


#server-list-box button:active {
    background: #666;
    color: #fff;
  }

#add-dialog entry {
    background: transparent;
    color: #fff;
    border: 1px solid #444;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    caret-color: #fff;
  }

 #server-list-box {
     background-color: #333;
     border-radius: 8px;
     padding: 16px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     color: white;
 }

 #content-box {
     background-color: #444;
     border-radius: 8px;
     padding: 16px;
     margin-left: 16px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     color: white;
 }

 #chat-time-label,
 #chat-selfname-label,
 #chat-friendname-label {
   padding: 2px 5px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   border-radius: 3px;
 }

 #chat-time-label {
  font-size: 14px;
 }

 #chat-selfname-label, #chat-friendname-label {
  font-size: 18px;
 }
 
 #chat-selfname-label {
   color: #00ff00;
   background-color: #444444;
 }
 
 #chat-friendname-label {
   color: #ff6600;
   background-color: #444444;
 }
 
 #chat-msg-label {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #e0e0e0;
   font-size: 17px;
 }